:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

body {
	background-color: #0f172a;
	color: #e2e8f0;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
}

.app-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.title {
	text-align: center;
	color: #38bdf8;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-title {
	border-bottom: 1px solid #334155;
	padding-bottom: 5px;
	margin-top: 30px;
	color: #94a3b8;
}

.limit-setting-section {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.limit-setting {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	background: #1e293b;
	padding: 10px;
	border-radius: 8px;
	margin-top: 15px;
}

.limit-setting-input {
	width: 35px;
	padding: 5px;
	border-radius: 4px;
	border: none;
	background-color: lightgray;
}
