.runway-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wind-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin-top: 10px;
}

.wind-num {
	font-size: 1.2em;
	font-weight: bold;
}
